
.navbar-brand img {
    width: 15rem;
}

@media (max-width: 404px) {
    .navbar-brand img
     {
        width: 13rem;
    }
    }
    
/* 
    @media (max-width: 562px) {
        .navbar-brand img
         {
            width: 13rem;
        }
        } */


/* Fix righ-sided whitespace */
html,body
{
   
    overflow-x: hidden; 
}
/* Slider */




.navbar-style {
    background: white;
}

body {
    font-family: Helvetica, Arial , sans-serif;
    padding-top:100px;
}

#navbar {
    background-color: white;
    font-weight: 600;
}

#smoke {
    
    position: relative; 
    min-height: 250px;
    background:url("Images/smoke.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: 0 -300px; */
    background-position: bottom;


}

#language {
    display: flex;
}

#language img {
    width:35px;
}

#home-icon-section img {
    margin-bottom: 30px;
    height: 150px
}


.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.smoke-text {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 250px; 
}

.red {
    color:#FF2B06;
}

#main-footer {
  background: #000;
  color: #fff;
  padding-top: 10px;
}

#social a {
    color: #ffffff;
}

/* Google map */
.map-container-5 {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
 
/* Formularz */
 .card-style {
     
    height: 320px;
} 

.small {
    line-height: 1.3;
  }
/* Formularz */
.form-control:focus {
  border-color: #DC3545;
  box-shadow: none;
  
}

footer a  {
    text-decoration: none;
    color: #838383;
}

#footer-information, #footer-information p
{
    color: #838383;
    margin-bottom:0;
    padding-bottom: 10px;

}

.header-sponsors {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.Fade-image {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(50, 50, 50, 0.67);
-moz-box-shadow:    0px 0px 15px 2px rgba(50, 50, 50, 0.67);
box-shadow:         0px 0px 15px 2px rgba(50, 50, 50, 0.67);
}


/* Our-team */

.our-team{
    position: relative;
    text-align:center;
    overflow: hidden;
    box-shadow:0 0 5px #808080;
    
}

.heading-title
{
	margin-bottom: 100px;
}
.our-team img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.40s linear 0s;
}

.our-team:hover img{
    transform: scale(1.2);
    transition:transform 0.2s linear 0s;
}

.our-team .team-content{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 0;
    /* padding: 40px 20px; */
    background: rgba(255,255,255,0.8);
    /* transition: all 0.50s ease-in-out; */
}

.our-team:hover .team-content{
    opacity: 1;
}

.our-team .team-prof{
    
    position:relative;

    
}

.our-team .team-prof {
    color:#6a6060;
    /* font-size:; */
    font-weight: bold;
    letter-spacing:4px;
    
    
}



.our-team .team-prof small{
    color: black;
    display: block;
    font-size:12px;
    margin-top:10px;
   
}

.our-team .social-link{
    padding:0;
    margin:0;
    /* position:relative; */
    top:13%;
}

.our-team .social-link li{
    list-style:none;
    margin-right:5px;
    display:inline-block;
}

.our-team .social-link li a{
    width: 35px;
    height: 35px;
    line-height:35px;
    border-radius:50%;
    color:#fff;
    background:rgba(0, 0, 0, 0.3);
}

.our-team .social-link li a:hover{
    background:#333;
    text-decoration:none;
}

a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 990px){
    .our-team{  margin-bottom:20px; }
}


@media (max-width: 768px) {
    .hide-on-mobile {
    display: none;
    }
            .our-team .team-prof:hover{
        text-decoration: none;
    }
    }

    @media (min-width: 768px) {
        .display-on-mobile
         {
        display: none;
        }
        .our-team .team-prof:hover {
            text-decoration: underline;
            text-decoration-color: black;
            color: black;
        }
        }

.reset-link {
    text-decoration: none;
    color:black;
}



.team-content p {
    font-size: 0.75rem;
}

.collapsed-text{
font-size: 1.5rem;
}



.normalize-logos-size {
    width: 50%;

}

.mumu {
    height: 1000px;
}

.mobile-text{
    color: black;
}


.about-ted-formating {
    font-size: 14px;
    font-family: Helvetica;
}

.about-ted-border {
    border-bottom: 1px solid #DC3545;
}

/* .height-of-the-row {
    height: 600px;
} */

.flexcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 .height-of-the-col {
    height: 320px;
 
}


.ifmsa {
    width: 85%;
}


.privacy-policy {
    font-size: 20px;
    margin: 40px 0 80px;
}


/* timeline */

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }

  .timeline-container {
      margin: 80px 0;
  }


  /* theme */
  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #d95350;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
  }
  
  /* Vertical line */
  .collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #d95350;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
  }
  
  .collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
  }
  
  .collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
  }
 