.navbar-brand img {
    width: 15em;
}

.navbar-style {
    background: white;
}

body {
    font-family: Arial;
}

#navbar {
    background-color: white;
    font-weight: 600;
}

#smoke {
    
    position: relative; 
    min-height: 250px;
    background:url("Images/smoke.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position: 0 -300px; */
    background-position: bottom;


}

#language {
    
    display: flex;
}

#language img {
    width:35px;
}

#home-icon-section img {
    margin-bottom: 30px;
    height: 150px
}

#About-TED {
    
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.smoke-text {
    color: white;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    line-height: 250px; 
}

.red {
    color:#FF2B06;
}

#main-footer {
  background: #000;
  color: #fff;
  padding-top: 35px;
}

#social a {
    color: #ffffff;
    padding-top: 25px;
    
}

/* Google map */
.map-responsive{
    overflow:hidden;
    padding-bottom:23,125%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
}